header img {
    width: 180px;
    margin-top: 1em;
	border-radius: 100px
}
body {
	margin-bottom:30px;
	max-width:900px;
	margin-left: auto;
	margin-right : auto;
}
hr {
    background-color: grey;
    height: 3px;
}
#big-img {
    width: 97%
}
h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
#list img {
	cursor: pointer;
}
#list p {
	cursor: pointer;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 19px
}
#overlay {
    color: white;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background:#5b23bd;
    transition: opacity 2.5s;
}

#overlay * {
    margin-top: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#overlay img{
    /*position: absolute;*/
    display: block;
    width:30%;
    /*margin-left: auto;
    margin-right: auto;*/
    /*top:35%;
    left: 35%;*/
}
#overlay > div {
    margin-top: 20vh;
}
