<a href="resume.pdf" target="_blank" class="btn btn-primary stick-right" aria-hidden="true">
My Resume
</a>
<!-- <article class="container"> -->
<article class="row">
    <div class="col-xs-12 col-md-3 ">
        <figure class="thumbnail">
            <img class="img-thumbnail" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAUfAAAAJGQ2ZjEwY2MwLWYwMDUtNDBlZS04ZTM5LWY3YzEwYWEzZWZmNA.jpg" />
            <figcaption class="caption">
                <h3>contact me on:</h3>
                <div class="btn-group-vertical">
                    <a class="btn btn-primary btn-block" href="https://www.linkedin.com/in/taha-pourjalali-2a2600b8"><i class="fa fa-linkedin"></i> LinkedIn</a>
                    <a class="btn btn-success btn-block" href="https://github.com/tahahojati"><i class="fa fa-github"></i> GitHub</a>
                    <a class="btn btn-warning btn-block" href="mailto:taha.hojati@gmail.com"><i class="fa fa-envelope"></i> Email</a>
                    <a class="btn btn-info btn-block" href="tel:+18082328467"><i class="fa fa-mobile"></i> (808)232-8467</a>
                    <a class="btn btn-danger btn-block" href="https://plus.google.com/+TahaHojati/"><i class="fa fa-google-plus"></i> Google</a>


                </div>
            </figcaption>
        </figure>
    </div>
    <div class="col-xs-12 col-md-9">
        <h1 class="media-heading"> about me</h1>
        <p>

            I am a physics graduate from UH Mānoa and a web-developer eager to use my four years of programming experience to support the improvement of science education in the state of Hawai‘i. I first learned computer programming and web development in high school.
            In my freshman and sophomore years in UHM, I worked in a bioinformatics lab as an assistant analyst. During that time, It was my privilege to design and maintain a MySQL database of genetic elements and to create a public front end for it
            using server-side programming with PHP language on an Apache web server. More recently, I completed an online degree on Udacity.com focused on Front-End web development using HTML5, CSS3, and JavaScript. I was also introduced to techniques
            of website optimization. I have made some of my projects available on my personal portfolio website at tahahojati.github.io. Most recently, I worked at the office of the Curriculum Research and Development Group where I was involved in developing
            a website and database using PHP7 and Apache2 for a citizen science education project. The prospect of using my experience in server-side web development in order to help the students and researchers in the state of Hawai‘i excites me. I hope
            to use my time as a web developer to hone my skills and I hope to meet educators who will inspire me to work harder and to contribute more to the academia and the state of Hawai‘i.

        </p>
    </div>
</article>

<!-- </article> -->
