<a href="resume.pdf" target="_blank" class="btn btn-primary stick-right" aria-hidden="true">
My Resume
</a>
<!-- <article class="container"> -->
<article class="row">
    <div class="col-xs-12 col-md-3 ">
        <figure class="thumbnail">
            <img class="img-thumbnail" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAUfAAAAJGQ2ZjEwY2MwLWYwMDUtNDBlZS04ZTM5LWY3YzEwYWEzZWZmNA.jpg" />
            <figcaption class="caption">
                <h3>contact me on:</h3>
                <div class="btn-group-vertical">
                    <a class="btn btn-primary btn-block" href="https://www.linkedin.com/in/taha-pourjalali-2a2600b8"><i class="fa fa-linkedin"></i> LinkedIn</a>
                    <a class="btn btn-success btn-block" href="https://github.com/tahahojati"><i class="fa fa-github"></i> GitHub</a>
                    <a class="btn btn-warning btn-block" href="mailto:taha.hojati@gmail.com"><i class="fa fa-envelope"></i> Email</a>
                    <a class="btn btn-info btn-block" href="tel:+18082328467"><i class="fa fa-mobile"></i> (808)232-8467</a>
                    <a class="btn btn-danger btn-block" href="https://plus.google.com/+TahaHojati/"><i class="fa fa-google-plus"></i> Google</a>


                </div>
            </figcaption>
        </figure>
    </div>
    <div class="col-xs-12 col-md-9">
        <h1 class="media-heading"> about me</h1>
        <p>

            I moved to Hawaii in 2010.  Here, I graduated from Kaiser high school and attended the University of Hawaii at Manoa in pursuit of a BS. in physics.  In my freshman and sophomore years in UHM, I worked in a bioinformatics lab as an assistant analyst. During that time, It was my privilege to design and maintain a MySQL database of genetic elements and to create a public front end for it
            using server-side programming with PHP language on an Apache web server.
            I recently graduated and am now looking for a full time job!
</p>
<p>
            I learned programming with C++ in 9th grade. I loved (and still love) to solve algorithm design problems using programming. Since then, I've learned (and in some cases forgot) many computer languages including PHP, C, Java, Python, Ruby, Perl, Matlab, javascript, and R. Now I am looking for a way to use my skills as a programmer and designer in the market. To that purpose, I completed an online degree on Udacity.com focused on Front-End web development a while ago. Since then, I've been reading books and programming full time to accumulate the experience that I display in this portfolio.  During this time, I have improved a lot. I am proud that I know my way around working with Angular and Zend Framework.  Also, at this moment, I am learning agile development using Ruby on Rails just to become a better software developer.</p>
            <p>

            When I am not coding, I am usually reading, playing tennis and ping-pong, or more likely playing video games.

        </p>

        <h2>about this website</h2>
        <p>
            I made these pages using AngularJS and Bootstrap CSS framework.  It only took me around 12 hours to make from start to finish, and I wrote every line of code by hand!  Putting on all of the screen-shots and typing all of the content took an especially long time.
        </p>
    </div>
</article>

<!-- </article> -->
