<section class="row">
    <div class="col-xs-12">
        <ul class="media-list">
            <li class="media" ng-repeat="myproject in projects ">
                <div class="row">
                    <div class="col-xs-6"  ng-if="$odd">
                        <div class="media-middle media-left">
                            <a ui-sref="project({id: $index})"><img class="media-object img-responsive " ng-src="{{myproject.img}}" /></a>
                        </div>
                    </div>
                    <div class="col-xs-6">

                        <div class="media-body">
                            <a ui-sref="project({id: $index})"><h3 class="media-heading"><strong>{{myproject.title}}</strong> </h3>
                            <h5 ng-if="myproject.subtitle!=null" > ({{myproject.subtitle}}) </h5></a>

                            <p ng-bind-html="myproject.description">
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6" ng-if="$even">
                        <div class="media-middle media-right" >
                            <a ui-sref="project({id: $index})"><img class="media-object img-responsive " ng-src="{{myproject.img}}" /></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
