<aside class="project-header hidden-xs">
    <img class="project-big-img" ng-srcset="{{project.bigimg}}" sizes="90vw" />
    <div class="row">
        <div class="col-lg-7 col-xs-8">

            <div class="framwork-img-parent-div">
                <div class="framework-img-div " ng-repeat="myfw in frameworks">
                    <img class="framework-img img-thumbnail" ng-src="{{myfw.icon}}" />
                </div>

            </div>
        </div>
        <div class="col-xs-4 col-lg-offset-1 side-overlay">
            <!-- <div> -->
            <h1 class="title"><strong>{{project.title}}</strong></h1>
            <h3 ng-if="project.subtitle != null" class="title" ng-bind="project.subtitle"></h3>
            <p>
                <a ng-href="{{project.github}}"> <i class="fa fa-github" aria-hidden="true"></i>View the code on GitHub</a>
                <br/>
            </p>
            <p>
                <a ng-if="project.live != null" ng-href="{{project.live}}"><i class="fa fa-cloud" aria-hidden="true"></i> Live preview </a>
            </p>
            <p>
                <a ng-if="project.docs != null" ng-href="{{project.docs}}"><i class="fa fa-file-text" aria-hidden="true"></i> Docs </a>
            </p>
            <!-- </div> -->
        </div>
    </div>
</aside>

<div class="row body-row" ng-repeat="myrow in project.bodyRows">

    <div  ng-class="{'col-sm-12 col-md-6': myrow.layout ==null, 'col-sm-12' :myrow-layout!=null  }" ng-bind-html="myrow.text"> </div>
    <div  class="project-img-div" ng-class="{'col-sm-12 col-md-6 col-lg-5 col-lg-push-1' : myrow.layout ==null, 'col-sm-12' :myrow-layout!=null}" ng-bind-html="myrow.imgs"></div>



</div>
